body {
    font-family: sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    line-height: 1.6; /* Improves vertical rhythm */
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 400px;
    width: 100%;
}


section {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
}

.led-control-section {
    width: 700px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.led-control-section {
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}


.board-container {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

svg#splat {
    width: 100%;
    height: 100%;
}

.led-control {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    pointer-events: auto;
}

.led-control input[type="color"] {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
}

.led-actions {
    gap: 4px;
}

.volume-controls input[type="range"] {
    vertical-align: middle;
}

.midi-controls-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.form-row {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    gap: 4px;
}

.form-row label {
    text-align: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 8px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    font-size: 0.9rem;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.xterm-viewport .xterm-screen {
    width: 600px;
}